
@import 'vars';

ul.magedebugbar-contextmenu-menu {
    position: absolute;
    border: 1px solid $control-border-color;
    margin: 0;
    padding: 2px 0;
    font-famliy: $font;
    color: $font-color;
    font-size: 12px;
    list-style: none;
    background: $control-active-background;
    z-index: 10001; // one more than phpdebugbar

    li {
        line-height: 2em;
        cursor: default;

        &:before,
        &:after {
            content: ' ';
            display: inline-block;
            width: 30px;
        }

        &:hover {
            width: 100%;
            color: $hover-menu-color;
            background: $hover-menu-background;
        }

    }
}
