/**
 * Sass styles for tabbox
 *
 *  PhpDebugBar has a reset selector div.phpdebugbar *
 *  which means that out styles will be ignored if we
 *  only have a single class selector
 */

@import 'vars';

div.magedebugbar-tab-box {
    width: 100%;
    height: 100%;

    > ul {
        list-style: none;
        background: $control-background;
        border-bottom: 1px solid $control-border-color;
        padding: .2em 0 0 .4em;
        margin: 0;

        &:after {
            clear: both;
            content: ' ';
            display: table;
        }

        li {
            color: $font-color;
            border: 1px solid rgba(0, 0, 0, 0);
            border-bottom-style: none;
            float: left;
            padding: 0 .3em;
            cursor: pointer;
            position: relative;

            &.magedebugbar-tab-active {
                border-color: $control-border-color;
                background: $control-active-background;
            }
        }
    }
}

div.magedebugbar-tab-content {
    position: relative;
    width: 100%;
    overflow: auto;

    > div {
        display: none;

        &.magedebugbar-tab-active {
            display: block;
        }
    }
}

div.magedebugbar-tab-close {
    display: inline-block;
    width: .8em;
    margin-left: .3em;

    .magedebugbar-tab-icon-cross,
    .magedebugbar-tab-icon-close {
        color: $control-icon-reverse-color;
        text-align: center;
        display: none;
    }

    &:hover {
        .magedebugbar-tab-icon-close {
            display: inline;
        }

        .magedebugbar-tab-icon-cross {
            display: none;
        }
    }
}

li .magedebugbar-tab-active .magedebugbar-tab-icon-cross,
li:hover .magedebugbar-tab-icon-cross {
    display: inline;
}


div.magedebugbar-tab-icon-cross:before {
    color: $control-icon-color;
    content: '\00D7'; /* &times; */
    font-weight: bold;
}

