/**
 * Sass shared variables
 */

$hover-background: #dff3f5;
$disabled-hover-background: rgba(175,175, 175, 0.5);

$tooltip-background: #ffffcc;

$control-active-background: white;
$control-background: #eeeeee;
$control-border-color: #bebebe;
$control-icon-color: #808080;
$control-icon-reverse-color: #C0C0C0;

$monospace-font: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
$monospace-font-color: #1a1aa6;

$font-color: #525252;

$highlight-block-color: rgba(127, 127, 255, .4);

