/**
 * Sass shared variables
 */

$hover-background: #dff3f5;
$hover-menu-background: #4a90d9;
$hover-menu-color: #ffffff;
$hover-disabled-background: rgba(175,175, 175, 0.5);

$tooltip-font-color: #0000ff;
$tooltip-background: #ffffc2;
$tooltip-border-color: #000000;

$control-active-background: white;
$control-background: #eeeeee;
$control-border-color: #bebebe;
$control-icon-color: #808080;
$control-icon-reverse-color: #C0C0C0;

$monospace-font: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
$monospace-font-color: #1a1aa6;

$font: Verdana, Arial, sans-serif;
$font-color: #525252;

$highlight-block-color: rgba(127, 127, 255, .4);

