#fileviewer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#fileviewer {
    display: block;
}

.magedebugbar-fileviewer-action {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    border-bottom: 1px dotted black;
    z-index: 10;
}

.magedebugbar-fileviewer-disabled {
    position: absolute;
    pointer-events: auto;
}

.magedebugbar-fileviewer-disabled:hover {
    background: rgba(175,175, 175, 0.5);
}
