
.magedebugbar-layout-pageview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.magedebugbar-layout-block-hover {
    position: absolute;
    background: rgba(127, 127, 255, .4);
    display: none;
    z-index: 9999; /* one less than phpdebugbar */
}

.magedebugbar-layout-block-icon,
.magedebugbar-layout-reference-icon,
.magedebugbar-layout-remove-icon,
.magedebugbar-layout-action-icon {
    font-size: 12px;
    margin-right: .3em;
}

.magedebugbar-layout-block-icon {
    color: blue;
}

.magedebugbar-layout-reference-icon {
    color: purple;
}

.magedebugbar-layout-remove-icon {
    color: red;
}

.magedebugbar-layout-action-icon {
    color: green;
}


.magedebugbar-layout-ifaction-icon {
    color: orange;
}






