
.magedebugbar-layout-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tab-active #magedebugbar-layout-handle-chooser {
    background: white;
}

.magedebugbar-layout-block-hover {
    position: absolute;
    background: rgba(127, 127, 255, .4);
    display: none;
    z-index: 9998; /* one less than tooltips */
}

.magedebugbar-layout-view table {
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #1a1aa6;
}

.magedebugbar-layout-icon {
    font-size: 10px;
    margin-right: .3em;
}

.magedebugbar-layout-block-icon {
    color: blue;
}

.magedebugbar-layout-forced-block-icon {
    color: gray;
}

.magedebugbar-layout-remove-icon {
    color: red;
}

.magedebugbar-layout-action-icon {
    color: green;
}


.magedebugbar-layout-if-action-icon {
    color: orange;
}

#magedebugbar-layout-handle-chooser {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 0.4em;
    vertical-align: middle-top;
}




