/* PhpDebugBar has an awful selector
 * *
 * which is more specific than
 * all single class selectors we might
 * want to use so we have to be more 
 * specific than we wanted :(
 */

.magedebugbar-layout-panel {
    height: 100%;
    min-width: 200px;
}

.magedebugbar-layout-panel:before,
.magedebugbar-layout-panel:after {
    content: " ";
    display: table;
}

.magedebugbar-layout-panel:after {
    clear: both;
}

.magedebugbar-layout-left {
    height: 100%;
    float: left;
    width: 40%;
    overflow: auto;
}

.magedebugbar-layout-resize-handle {
    height: 100%;
    float: left;
    width: 1px;
    background: #bebebe;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    cursor: col-resize;
}

.magedebugbar-layout-right {
    height: 100%;
    overflow: auto;
}
