.tab-box {
    width: 100%;
    height: 100%;
}
    .tab-box > ul {
        list-style: none;
        background: #eeeeee;
        border-bottom: 1px solid #bebebe;
        padding: .2em 0 0 .4em;
        margin: 0;
    }

    .tab-box > ul:after {
        clear: both;
        content: ' ';
        display: table;
    }

    .tab-box > ul li {
        color: #525252;
        border: 1px solid rgba(0, 0, 0, 0);
        border-bottom-style: none;
        float: left;
        padding: 0 .3em;
            cursor: pointer;
                position: relative;
    }

    .tab-box > ul li.tab-active {
        border-color: #bebebe;
        background: white;
    }

    .tab-content {
        position: relative;
        width: 100%;
        overflow: auto;
    }

    .tab-content > div {
        display: none;
    }

    .tab-content > div.tab-active {
        display: block;
    }

    .tab-close {
        display: inline-block;
        width: .8em;
        margin-left: .3em;
    }

    .tab-close .tab-cross-icon,
    .tab-close .tab-close-icon {
        color: #C0C0C0;
        text-align: center;
        display: none;
    }

    .tab-close:hover .tab-close-icon {
        display: inline;
    }

    li.tab-active .tab-cross-icon,
    li:hover .tab-cross-icon {
        display: inline;
    }

    .tab-close:hover .tab-cross-icon {
        display: none;
    }

    .tab-cross-icon:before {
        color: #808080;
        content: '\00D7'; /* &times; */
        font-weight: bold;
    }

