
.treegridview-container {
  width: 100%;
  table-layout: fixed;
}

.treegridview-container td {
    white-space: nowrap;
    position: relative;
    text-align: left;
    overflow: hidden;
    }

.treegridview-container th {
    background: #eeeeee;
    }

.treegridview-container th:first-child {
    padding-left: .3em;
}

  .treegridview-hover { background: #dff3f5; }

  .treegridview-leaf {
      visibility: hidden;
  }

  .treegridview-leaf,
  .treegridview-open,
  .treegridview-closed {
      color: #808080;
      font-size: 10px;
  }

  .treegridview-cell {
    display: inline-block;
    cursor: pointer;
    }


